<div class="container py-5">

    <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-4 mx-auto text-center">
            <img src="assets/logo.png" alt="Logomarca" class="logo img-fluid">
            <h6 class="">Privacidade de Dados no Agronegócio</h6>
            <h3 class="my-4">LOGIN</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form [formGroup]="formLogin" (ngSubmit)="login()">
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" autocomplete="off" class="form-control form-control-sm" placeholder="Email"
                            aria-label="Email" formControlName="email">
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="field-alert">
                        <div *ngIf="email.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input type="password" autocomplete="off" class="form-control form-control-sm"
                            placeholder="Senha" aria-label="Senha" formControlName="password">
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="field-alert">
                        <div *ngIf="password.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                    </div>
                </div>

                <div class="mb-3" *ngIf="showCode">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <i class="fa fa-key"></i>
                        </span>
                        <input type="tel" autocomplete="off" mask="000000" maxlength="6"
                            class="form-control form-control-sm" placeholder="Código de ativação"
                            aria-label="Código de ativação" formControlName="code">
                    </div>
                    <div *ngIf="code.invalid && (code.dirty || code.touched)" class="field-alert">
                        <div *ngIf="code.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                    </div>
                </div>

                <div class="buttons mt-4">
                    <button type="button" *ngIf="showCode" class="btn mb-3" (click)="goForgotPassword()">Não recebeu o
                        código de ativação? Clique aqui</button>

                    <button type="submit" [disabled]="loading || formLogin.invalid"
                        class="btn btn-sm btn-success px-3 d-flex align-items-center">
                        <span class="spinner-border spinner-border-sm me-2" *ngIf="loading"></span>
                        <span>Entrar</span>
                    </button>

                    <button type="button" class="btn mt-3" (click)="goForgotPassword()">Esqueci minha senha</button>

                    <button type="button" class="btn" (click)="goRegister()">Não possui conta? Cadastre-se</button>
                </div>

            </form>
        </div>

    </div>
</div>