.logo {
    height: 80px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) { 
    .logo {
        height: 40px;
    } 
}