<div class="container">

    <div class="row">
        <div class="col-4">
            <h3>Pd<span class="text-success">Agro</span></h3>
        </div>
        <div class="col-12">
            <h6>Verificação de conformidade à LGPD</h6>
        </div> 
        <div class="col-12">
            <h5>LOGIN</h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <form [formGroup]="model" (ngSubmit)="insertUser()">
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                        <input type="email" formControlName="fullName" class="form-control form-control-sm"
                            placeholder="Nome completo" aria-label="Nome completo">
                    </div>
                    <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched || submitted)"
                        class="field-alert">
                        <div *ngIf="fullName.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </span>
                        <input type="email" formControlName="email" class="form-control form-control-sm"
                            placeholder="Email" aria-label="Digite seu email">
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="field-alert">
                        <div *ngIf="email.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            E-mail inválido.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <fa-icon [icon]="faLock"></fa-icon>
                        </span>
                        <input type="password" formControlName="password" class="form-control" placeholder="Senha"
                            aria-label="Senha" aria-describedby="basic-addon1">
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)"
                        class="field-alert">
                        <div *ngIf="password.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <fa-icon [icon]="faLock"></fa-icon>
                        </span>
                        <input type="password" formControlName="confirmPassword" class="form-control"
                            placeholder="Confirmar senha" aria-label="Confirmar senha" aria-describedby="basic-addon1">
                    </div>
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || submitted)"
                        class="field-alert">
                        <div *ngIf="confirmPassword.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                    </div>
                    <div *ngIf="model.invalid && (model.dirty || model.touched || submitted)" class="field-alert">
                        <div *ngIf="model.errors?.['passwordsNotMatched']">
                            Confirmação diferente da senha informada.
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-success px-3">
                    <fa-icon [icon]="faCheck"></fa-icon> Criar cadastro
                </button>
                <div class="d-grid gap-2 mt-3">
                    <button type="button" class="btn btn-sm px-3" (click)="goLogin()">Já possui conta? Login</button>
                </div>
            </form>
        </div>

    </div>
</div>