.logo {
    height: 80px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authorization {
    font-size: 14px;
    padding: 12px 14px;
}


@media (max-width: 767px) { 
    .logo {
        height: 40px;
    } 
}