<div class="card">

    <div class="card-header p-3 d-flex justify-content-between align-items-center">
        <h5 class="card-title m-0">Avaliação</h5>
        <button type="button" class="btn" (click)="closeModal(null)">
            <i class="fa fa-times fs-5"></i>
        </button>
    </div>
    <div class="card-body">

        <div class="overview">
            <p>Usuário: <span>{{data.email}}</span></p>
            <p>Data: <span>{{data.created_at | date : 'dd/MM/yyyy hh:MM'}}</span></p>
        </div>
        <hr>
        <div class="result">
            <div class="resultItem shadow-sm my-2" *ngFor="let item of objToArray(data.reply); let i = index">
                <p class="question">{{item._id}}) {{item.question}}</p>
                <p class="reply">
                    <i class="fa fa-reply me-2"></i> <span>{{item.reply}}</span>
                </p>
            </div>

        </div>
    </div>
    <div class="card-footer p-3 d-flex justify-content-between">
        <button class="btn btn-danger btn-sm px-3 m-0 mt-2 ms-md-2 mt-md-0" (click)="deleteFeedback(data._id)">
            <i class="fa fa-trash me-1"></i> Excluir avaliação
        </button>
        <button class="btn btn-secondary btn-sm px-3" (click)="closeModal(null)">
            <i class="fa fa-times me-1"></i> Fechar
        </button>
    </div>

</div>