<!-- Neste componente adicionar os menus de navegação. -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" 
style="margin-bottom: 15px;">
  <a class="navbar-brand" href="#">
    <img src="/assets/PdAgro marca.png" width="120" alt="">
  </a>
<!-- colocar outros links como pesquisa ou sair-->
</nav>

<div class="container-fluid">
  <div class='row'>
    <div class='col-md-2'>
      <a [routerLink]="['/dash']" class="btn btn-sm pe-0 btn-menu" [routerLinkActive]="'btn-success'">
        <fa-icon [icon]="faUser"></fa-icon> Dash </a><br/>
      <!--<button type="submit" class="btn btn-sm btn-success px-4" (click)='myUser()'>
        <fa-icon [icon]="faUser"></fa-icon> Meu Usuário
      </button>-->
      <!-- Para fins de teste da rota protegida. 
      {{ myUserJson }}    <br/>-->
      <a [routerLink]="['/enterprise-register']" class="btn btn-sm pe-0 btn-menu" [routerLinkActive]="'btn-success'">
        <fa-icon [icon]="faClipboardCheck"></fa-icon> Cadastrar empresa </a><br/>
      <a [routerLink]="['enterprise-list']" class="btn btn-sm pe-0 btn-menu" [routerLinkActive]="'btn-success'">
        <fa-icon [icon]="faList"></fa-icon> Lista de empresas </a><br/>
      <!--a [routerLink]="['enterprise-check']" class="btn btn-sm pe-0 btn-menu" [routerLinkActive]="'btn-success'">
        <fa-icon [icon]="faAward"></fa-icon> Verificação PdAgro  </a><br/>
      <a [routerLink]="['enterprise-report']" class="btn btn-sm pe-0 btn-menu" [routerLinkActive]="'btn-success'">
        <fa-icon [icon]="faChartColumn"></fa-icon> Relatório  </a><br/>-->
      <a type="submit" class="btn btn-sm pe-0 btn-menu" (click)='logOut()'>
        <fa-icon [icon]="faLogOut"></fa-icon> Sair
      </a>
      <br/><br/>
    </div> 
    <div class='col-md-10' style="display: flex; flex-direction: column; 
    align-items: center;">
      <router-outlet></router-outlet> <!--renderiza o dash.component.-->
    </div>
</div>
<br/><br/>


