.comment {
    font-size: 13px;
    font-style: italic;
    border-left: 4px solid #4eb755;
    border-radius: 4px 0 0 4px;
    padding: 4px 10px;
    background-color: rgb(245, 245, 245);
}

.dropdown-toggle:after {
    content: none;
}

.nav-pills {
    li {
        .nav-link {
            color: #388933;
            padding: 4px 16px !important;
        }

        .active {
            background-color: #388933 !important;
            color: #f2f2f2 !important;
        }
    }
}

th,
td {
    height: 50px;
    vertical-align: middle;
    font-size: 14px;
}

.selectable {
    cursor: pointer;
}

.btnLink {
    color: #015a4d;
    font-weight: 600;
    cursor: pointer;

    .img-fluid {
        max-width: 30px;
    }
}

.cardDiagnostic {
    color: #015a4d;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-fluid {
        max-width: 80px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 10px;
        }
    }
}
