<div class="container my-4 py-4 h-100">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="">
                <h4>Diagnóstico de conformidade à LGPD</h4>
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <form id="msform">
                            <!-- Barra de progresso -->
                            <ul id="progressbar" class="text-center p-0">
                                <li class="active" id="proccess"><strong>Processos</strong></li>
                                <li id="rule"><strong>Lei/Norma</strong></li>
                                <li id="tech"><strong>Tecnologia </strong></li>
                                <li id="learning"><strong>Aprendizado</strong></li>
                            </ul>
                            <!-- Etapas -->
                            <fieldset>
                                <div class="p-4 mb-4 border shadow rounded">
                                    <h5 class="fs-title">Processos</h5>
                                </div>
                                <button type="button" class="btn btn-success px-4">Avançar</button>
                            </fieldset>
                            <fieldset>
                                <div class="p-4 mb-4 border shadow rounded">
                                    <h5 class="fs-title">Lei/Norma</h5>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="p-4 mb-4 border shadow rounded">
                                    <h5 class="fs-title">Tecnologia</h5>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="p-4 mb-4 border shadow rounded">
                                    <h5 class="fs-title text-center"></h5>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>