<!--<div class="container">

    <div class="row mt-3">
        <div class="col">
            <form [formGroup]="model" (ngSubmit)="insertEnterprise()">
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <fa-icon [icon]="faBriefcase"></fa-icon>
                        </span>
                        <input type="text" formControlName="fullName" class="form-control form-control-sm"
                            placeholder="Nome da empresa" aria-label="Nome da empresa">
                    </div>
                    <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched || submitted)"
                        class="field-alert">
                        <div *ngIf="fullName.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-success px-3">
                    <fa-icon [icon]="faCheck"></fa-icon> Criar cadastro
                    </button>                
            </form>
        </div>
    </div>-->


<form>
    <div class = "form-row">
        <div class = "col-sm-12">
            <label for = "inputEnterprise">Nome da empresa</label>
            <input type = "text" class = "form-control" id = "inputEnterprise">
        </div>
    </div>
    <br>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-sm btn-success px-3">Criar cadastro</button>
        </div>
    </div>   
</form>


    <!--<div class="form-group">
        <div class = "col-sm-10">Ramo de atividade no agronegócio</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">
                Pequeno produtor rural
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">
                Microempresa
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">
                Empresa de pequeno porte
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">
                Empresa de médio porte
            </label>
        </div>
    </div>
    

    <div class = "form-group">
        <div class = "col-sm-10">Ramo de atividade no agronegócio</div>
        <div class = "form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
                Agrícola
            </label>
        </div>        
        <div class = "form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="gridCheck2">
            <label class="form-check-label" for="gridCheck2">
                Pecuária
            </label>
        </div>
        <div class = "form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="gridCheck3">
            <label class="form-check-label" for="gridCheck3">
                Florestal
            </label>
        </div>
        <div class = "form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="gridCheck4">
            <label class="form-check-label" for="gridCheck4">
                Agroindústria
            </label>            
        </div>
    </div>

    <div class = "form-group">
        <div class = "col-sm-10">Formação do gestor</div>
        <div class="form-row align-itens-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Formação</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Escolha a escolaridade...</option>
                    <option value="1">Pós-graduação</option>
                    <option value="2">Superior completo</option>
                    <option value="3">Superior incompleto</option>
                    <option value="3">Ensino médio completo</option>
                    <option value="3">Ensino médio incompleto</option>
                    <option value="3">Ensino fundamental completo</option>
                    <option value="3">Ensino fundamental incompleto</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class = "col-md-6">Formação na área agro</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">
                Sim
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">
                Não
            </label>
        </div>
        <div class = "col-md-6">    
            <label for = "inputFormation">Formação</label>
            <input type = "text" class = "form-control" id = "inputFormation">
        </div>      
    </div>




    <div class="form-group">
        <div class = "col-sm-10">Número de colaboradores</div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">
                Até 9 colaboradores
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">
                Até 19 colaboradores
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">
                Até 49 colaboradores
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
            <label class="form-check-label" for="inlineRadio4">
                Até 99 colaboradores
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
            <label class="form-check-label" for="inlineRadio5">
                Até 499 colaboradores
            </label>
        </div>               
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-sm btn-success px-3">Criar cadastro</button>
        </div>
    </div>   
</form>-->

