<!--<img src="/assets/infográfico abertura.png" style="max-width: 840px;">-->
<h5>Seja bem vindo ao Pd<span class="text-success">Agro!</span></h5>
<p><small>Cadastre a empresa e verifique a conformidade com a LGPD
para receber orientações como auxílio para a tomada de decisão.</small></p>

<h6>Aplicabilidade da Lei Geral de Proteção de Dados (LGPD):</h6>
<p><small>A lei não se aplica em situações de manipulação (tratamento) de dados pessoais realizado por pessoa natural
para os seguintes fins: <br> particular e não econômico, jornalístico, artístico, acadêmco, segurança pública, defesa
nacional, segurança do Estado, atividades de investigação, repressão de infrações penais ou extraterritoriais
(lei 13.709/18, artigo 4º).</small></p>

<h6>Informações sobre tratamento de dados:</h6>
<p><small>Tratamento e manipulação de dados, são operações de coleta, utilização, acesso, reprodução, transmissão,
distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da
informação, modificação, comunicação, transferência, difusão ou <br> extração (lei 13.709/18, artigo 5º, inciso X).</small></p>

<h6>Em caso de dúvida, por favor, envie e-mail para alinelisboa.aluno@unipampa.edu.br</h6>
