.overview {
    p {
        margin: 0;
        margin-bottom: 2px;
        font-size: 14px;

        span {
            font-weight: 600;
        }
    }
}

.image {
    max-width: 200px;
    text-align: center;
    p {
        font-size: 12px;
    }
    .img-fluid {
        max-width: 100px;
    }
}

.result {
    .nav-pills {
        li {
            .nav-link {
                color: #388933;
                padding: 4px 16px !important;
            }

            .active {
                background-color: #388933 !important;
                color: #f2f2f2 !important;
            }
        }
    }



    .resultItem {
        border-left: 4px solid #015a4d40;
        padding: 12px;
        border-radius: 4px;

        .question {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .reply {
            margin: 0;
            font-size: 12px;

            .fa {
                transform: rotate(180deg);
            }

            span {
                font-weight: 500;
            }
        }

        .feedback {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            margin: 10px 0;

            .fa {
                margin-right: 12px;
            }

            p {
                font-size: 12px;
            }
        }
    }

}