<div class="container py-5">

    <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-4 mx-auto text-center">
            <img src="assets/logo.png" alt="Logomarca" class="logo img-fluid">
            <h6 class="">Privacidade de Dados no Agronegócio</h6>
            <h3 class="my-4">REDEFINIR SENHA</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form [formGroup]="formForgotPassword">

                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" autofocus formControlName="email" class="form-control form-control-sm"
                            placeholder="Email" aria-label="Email">
                    </div>
                    <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="field-alert">
                        <div *ngIf="email.errors?.['required']">
                            Este campo é obrigatório
                        </div>
                        <div *ngIf="email.errors?.['pattern']">
                            E-mail com formato inválido
                        </div>
                    </div>
                </div>
                <div *ngIf="showCode">
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" formControlName="password" class="form-control" placeholder="Senha"
                                aria-label="Senha">
                        </div>
                        <div *ngIf="password && password.invalid && (password.dirty || password.touched)"
                            class="field-alert">
                            <div *ngIf="password.errors?.['required']">
                                Este campo é obrigatório
                            </div>
                        </div>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="field-alert">
                            <div *ngIf="password.errors?.['minlength']">
                                A senha deve conter 6 ou mais caracteres
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" formControlName="re_password" class="form-control"
                                placeholder="Confirmar senha" aria-label="Confirmar senha">
                        </div>
                        <div *ngIf="re_password && re_password.invalid && (re_password.dirty || re_password.touched)"
                            class="field-alert">
                            <div *ngIf="re_password.errors?.['required']">
                                Este campo é obrigatório
                            </div>
                        </div>
                        <div *ngIf="re_password.invalid && (re_password.dirty || re_password.touched)"
                            class="field-alert">
                            <div *ngIf="re_password.errors?.['minlength']">
                                A senha deve conter 6 ou mais caracteres
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text">
                                <i class="fa fa-key"></i>
                            </span>
                            <input type="tel" maxlength="6" class="form-control form-control-sm"
                                placeholder="Código de ativação" aria-label="Código de ativação" formControlName="code">
                        </div>
                        <div *ngIf="code.invalid && (code.dirty || code.touched)" class="field-alert">
                            <div *ngIf="code.errors?.['required']">
                                Este campo é obrigatório
                            </div>
                        </div>
                    </div>
                </div>



                <div class="buttons mt-4">
                    <button type="button" [disabled]="loading || formForgotPassword.invalid" *ngIf="!showCode"
                        class="btn btn-sm btn-success px-3 d-flex align-items-center" (click)="forgotPassword()">
                        <span class="spinner-border spinner-border-sm me-2" *ngIf="loading"></span>
                        <span>Redefinir senha</span>
                    </button>

                    <button type="button" [disabled]="loading || formForgotPassword.invalid" *ngIf="showCode"
                        class="btn btn-sm btn-success px-3 d-flex align-items-center" (click)="resetPassword()">
                        <span class="spinner-border spinner-border-sm me-2" *ngIf="loading"></span>
                        <span>Alterar senha</span>
                    </button>

                    <button type="button" class="btn mt-3" (click)="goLogin()">Já possui conta?
                        Login</button>

                    <button type="button" class="btn btn-sm px-3" (click)="goRegister()">Não possui conta?
                        Cadastre-se</button>
                </div>

            </form>
        </div>

    </div>
</div>
