<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/views']">
      <img class="logo img-fluid" src="assets/logo.png" alt="">
    </a>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <div class="buttons ms-auto">
        <button class="btn btn-sm btn-outline-success px-3" (click)="goLogin()" *ngIf="!authSrv.isAuthenticated"><i class="fa fa-lock me-2"></i>Login</button>
        <button class="btn btn-sm" (click)="logout()" *ngIf="authSrv.isAuthenticated"><i class="fa fa-sign-out me-2"></i>Logout</button>
      </div>
    </div> -->

    <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLinkActive]="'active'" [routerLink]="'/views/about'">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" [routerLinkActive]="'active'" [routerLink]="'/views/repository'">Repositório</a>
      </li>
    </ul>

    <div class="buttons">


      <div ngbDropdown display="dynamic" placement="bottom-end" *ngIf="authSrv.isAuthenticated">
        <button type="button" class="btn btn-sm" ngbDropdownToggle>
          <i class="fa fa-user"></i>
        </button>
        <div ngbDropdownMenu>
          <!-- <button ngbDropdownItem>Edit</button>
            -->
          <button ngbDropdownItem (click)="deleteAccount()" *ngIf="authSrv.getRole === 'user'">
            <i class="fa fa-exclamation-triangle me-2"></i>Excluir conta</button>
          <button ngbDropdownItem (click)="goAdmin()" *ngIf="authSrv.isAuthenticated && authSrv.getRole === 'admin'">
            <i class="fa fa-user me-2"></i>Admin</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logout()" *ngIf="authSrv.isAuthenticated"><i
              class="fa fa-sign-out me-2"></i>Logout</button>
        </div>
      </div>


      <button class="btn btn-sm btn-outline-success px-3" (click)="goLogin()" *ngIf="!authSrv.isAuthenticated">
        <i class="fa fa-lock me-2"></i>Login</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer d-flex flex-column align-items-center">
  <div class="container text-center">
    <span class="text-muted">PDAgro - Diagnóstico de Conformidade à LGPD</span>
  </div>
  <div class="mail">
    <a title="PDAgro" class="nav-link" href="mailto:contato@pdagro.com?subject=Contato via PDAgro">contato@pdagro.com</a>
  </div>
</footer>
