<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/views']">
      <img class="logo img-fluid" src="assets/logo.png" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <div class="buttons ms-auto">
        <button class="btn btn-success" (click)="goLogin()" *ngIf="!authSrv.isAuthenticated">Login</button>
        <button class="btn" (click)="logout()" *ngIf="authSrv.isAuthenticated">Logout</button>
      </div>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer d-flex align-items-center">
  <div class="container text-center">
    <span class="text-muted">PDAgro</span>
  </div>
</footer>