/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';

.btn {
    white-space: nowrap;
    font-size: 12px;
&:hover{
    transform: scale(1.02);
}
    &:focus {
        border: none;
        box-shadow: none;
    }
}

.field-alert {
    color: red;
    font-weight: 600;
    font-size: 12px;
}